<!doctype html>
<html lang="en">
    <head>
        {{{_sections.title}}}
        {{#unless _sections.title}}
            <title>Template</title> <!-- TODO: change default title-->
        {{/unless}}

        {{{_sections.style}}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {{{_sections.style}}}
    </head>
    <body>
        {{#if flash}}
            <div class="alert alert-dismissible alert-{{flash.type}}" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{flash.intro}}</strong> {{{flash.message}}}
            </div>
        {{/if}}
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img  width="30" height="30" class="d-inline-block align-top" alt="" src="/img/logo.png">
                    Friedrich Kriegsheim
                </a>
                {{>login-widget}}
            </nav>

            <main role="main">
                {{{body}}}
            </main>
        </div>

    </body>
</html>