<!doctype html>
<html>
    <head>
        {{{_sections.title}}}
        {{#unless _sections.title}}
            <title>Meadowlark</title>
        {{/unless}}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{#if flash}}
            <div class="alert alert-dismissible alert-{{flash.type}}" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{flash.intro}}</strong> {{{flash.message}}}
            </div>
        {{/if}}
        <div class="container" id="header">
            <img id= "header-logo" src="/img/logo.png" alt="many_burger logo">
        </div>

        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-4">
                    <div class="container">
                    {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>